*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka';
}

h1 {
    padding: 2rem;
    color: #E53170;
    font-size: 52px;
    font-weight: 700;
}

p{
    margin: 0rem 3rem;
}