*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka';
    width: 1200px;
}

h1 {
    padding: 3rem;
    color: #E53170;
    font-size: 52px;
    font-weight: 700;
}